<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!--<th:block layout:include="fragments/header"/>-->
<body>
<!-- header-->
<div th:replace="fragments/header :: header"/>
<!--<th:block layout:replace="fragments/navigation"/>-->
<div class="container-fluid" layout:fragment="content" style="margin-top: 3.4%;HEIGHT:800px"/>

<div th:replace="fragments/footer :: footer" style="text-align: center"/>
</body>
</html>