<!DOCTYPE html>
<!--&lt;!&ndash;[if lt IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie6"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie7"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 8 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie8"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 9 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie9"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if (gt IE 9)|!(IE)]>&lt;!&ndash;><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js"-->
                                    <!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
                                    <!--layout:decorator="layout"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>银行漏单</title>
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title></title>

    <!-- main JS libs -->
    <script src="../../../static/vanilla-cream-css/js/libs/modernizr.min.js" th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
    <script src="../../../static/vanilla-cream-css/js/libs/jquery-1.10.0.js" th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
    <script src="../../../static/vanilla-cream-css/js/libs/jquery-ui.min.js" th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
    <script src="../../../static/vanilla-cream-css/js/libs/bootstrap.min.js" th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="../../../static/vanilla-cream-css/css/bootstrap.css" th:href="@{/vanilla-cream-css/css/bootstrap.css}" />
    <link rel="stylesheet" href="../../../static/vanilla-cream-css/style.css" th:href="@{/vanilla-cream-css/style.css}"  />
    <!-- scripts -->
    <script src="../../../static/vanilla-cream-css/js/general.js" th:src="@{/vanilla-cream-css/js/general.js}"></script>

    <!-- Include all needed stylesheets and scripts here -->
    <!--[if lt IE 9]>
    <script src="../../../static/vanilla-cream-css/js/respond.min.js"
            th:src="@{/vanilla-cream-css/js/respond.min.js}"></script><![endif]-->
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {filter: none !important;}
    </style>
    <![endif]-->

    </head>


    <body layout:fragment="content">
        <div class="container" style="height: 100%">
            <!--<div>-->
                <!--<h5 th:inline="text">-->
                    <!--<a th:href="@{/bank}" class="btn btn-hover active"><span>返回</span></a>-->
                <!--</h5>-->
            <!--</div>-->

            <div style="margin-top: 8%">
                <h3>
                    <label>抱歉，您无权更新【交易号:<label th:text="${transNo}"></label>】&nbsp;&nbsp;
                        且状态不等于0 的记录，如有疑问，请联系管理员，谢谢！</label>
                </h3>
            </div>
        </div>
    </body>

    </html>