<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kashuo.kap.bill.dao.ProfitAgencyMapper" >
  <resultMap id="BaseResultMap" type="com.kashuo.kap.bill.domain.ProfitAgency" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="has_limit" property="hasLimit" jdbcType="TINYINT" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="industry_nonstandard" property="industryNonstandard" jdbcType="TINYINT" />
    <result column="code" property="code" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, create_time, has_limit, create_by, industry_nonstandard, code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from profit_agency
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from profit_agency
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kashuo.kap.bill.domain.ProfitAgency" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into profit_agency (name, create_time, has_limit, 
      create_by, industry_nonstandard, code
      )
    values (#{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{hasLimit,jdbcType=TINYINT}, 
      #{createBy,jdbcType=VARCHAR}, #{industryNonstandard,jdbcType=TINYINT}, #{code,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kashuo.kap.bill.domain.ProfitAgency" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into profit_agency
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        name,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="hasLimit != null" >
        has_limit,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="industryNonstandard != null" >
        industry_nonstandard,
      </if>
      <if test="code != null" >
        code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasLimit != null" >
        #{hasLimit,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="industryNonstandard != null" >
        #{industryNonstandard,jdbcType=TINYINT},
      </if>
      <if test="code != null" >
        #{code,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kashuo.kap.bill.domain.ProfitAgency" >
    update profit_agency
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="hasLimit != null" >
        has_limit = #{hasLimit,jdbcType=TINYINT},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="industryNonstandard != null" >
        industry_nonstandard = #{industryNonstandard,jdbcType=TINYINT},
      </if>
      <if test="code != null" >
        code = #{code,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kashuo.kap.bill.domain.ProfitAgency" >
    update profit_agency
    set name = #{name,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      has_limit = #{hasLimit,jdbcType=TINYINT},
      create_by = #{createBy,jdbcType=VARCHAR},
      industry_nonstandard = #{industryNonstandard,jdbcType=TINYINT},
      code = #{code,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from profit_agency
  </select>
</mapper>