<!DOCTYPE html>
<!--&lt;!&ndash;[if lt IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie6"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 7 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie7"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 8 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie8"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if IE 9 ]><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js ie9"> <![endif]&ndash;&gt;-->
<!--&lt;!&ndash;[if (gt IE 9)|!(IE)]>&lt;!&ndash;><html xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js"-->
                                    <!--xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"-->
                                    <!--layout:decorator="layout"> &lt;!&ndash;<![endif]&ndash;&gt;-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>单边账新增</title>
    <meta charset="utf-8" />
    <meta name="author" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <!-- main JS libs -->
    <script th:src="@{/vanilla-cream-css/js/libs/modernizr.min.js}"></script>
    <script th:src="@{/vanilla-cream-css/js/libs/jquery-1.10.0.js}"></script>
    <script th:src="@{/vanilla-cream-css/js/libs/jquery-ui.min.js}"></script>
    <script th:src="@{/vanilla-cream-css/js/libs/bootstrap.min.js}"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" th:href="@{/vanilla-cream-css/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/vanilla-cream-css/style.css}"  />
    <!-- scripts -->
    <script th:src="@{/vanilla-cream-css/js/general.js}"></script>

    <!-- Include all needed stylesheets and scripts here -->
    <!--[if lt IE 9]>
    <script th:src="@{/vanilla-cream-css/js/respond.min.js}"></script><![endif]-->
    <!--[if gte IE 9]>
    <style type="text/css">
        .gradient {filter: none !important;}
    </style>
    <![endif]-->

    <script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    function submitBtn(event){

        var id = event.currentTarget.id.trim();
        var file = document.getElementById('fileName').files[0];
        alert('file path ... ?'+id+",,,,fileName:"+file.pathname);
        $.ajax({
            type: 'GET',
            url: "/file/upload?fileName='"+ file+"'",
            data: {
                uploadUrl:''
            },
            success: function (msg) {
                top.location.reload();
            },
            error: function (msg) {
                this.$KsModal.alert('操作失败', '提示', "", {
                    mask: true,
                    type: 'primary'
                })();
            }
        });
    }
    /*]]>*/
    </script>
    </head>

    <body layout:fragment="content">
        <div class="container" >

           <div class="col-sm-8 col-sm-offset-1">

               <h6 class="foo"> 新增单边账</h6>
               <div class="widget-container widget_login styled boxed boxed-cream gradient" style="width: 80%">
                   <div class="inner">
                       <form action="/normal/add" method="post" class="comment-form" enctype="multipart/form-data">

                           <div class="filed_text" style="margin-bottom: 12px; margin-left: 5%">
                           <input type="file" th:id="fileName" name="fileName" placeholder="file path" class="gradient"/>
                               <!--<a  th:href="${uploadUrl}" onclick="submitBtn(event)" class="btn btn-mini btn-info active"></a>-->
                           </div>

                           <!--<div class="field_select" style="width:50%">-->
                               <!--<select class="gradient" name="merchantId" hidefocus="true" style=" background-color: initial;width: 100%;margin-top: 2%;border: groove;font-family: -webkit-pictograph;font-size: x-small;height: 32px;">-->
                                   <!--<option value="">商户号</option>-->
                                   <!--<option th:each="merchant : ${mList}" th:value="${merchant.id}" th:text="${merchant.merchantName}">-->
                                       <!--&lt;!&ndash;th:selected="${form!=null and merchant.id != null and merchant.id==agency.id}"&ndash;&gt;-->
                                   <!--</option>-->
                               <!--</select>-->
                           <!--</div>-->

                           <div class="field_text" style="width:0%; height:0px">
                               <input type="hidden" name="storeChannel" />
                           </div>
                           <div class="field_text" style="width:60%; margin-left: 5%">
                               <label style="color: red">*</label>
                               <input type="text" name="merchantId" placeholder="商户号" class="gradient"/>
                               <span class="input_icon"></span>
                           </div>
                           <div class="field_text" style="width:60%; margin-left: 5%">
                               <input type="text" name="storeId" placeholder="门店号" class="gradient"/>
                               <span class="input_icon"></span>
                           </div>
                           <div class="field_text" style="width:60%; margin-left: 5%">
                               <input type="text" name="deviceSn" placeholder="设备SN" class="gradient"/>
                               <span class="input_icon"></span>
                           </div>

                           <div class="filed_text" style="width:60%; margin-bottom: 12px; margin-left: 5%">
                               <input type="text" name="transDate" placeholder="交易日期，如：2017-05-22" class="gradient"/>
                               <span class="input_icon"></span>
                           </div>

                           <div class="filed_text" style="width:60%; margin-bottom: 12px; margin-left: 5%">
                               <input type="text" name="transTime" placeholder="交易时间，如：13:00:00" class="gradient" />
                               <span class="input_icon"></span>
                           </div>

                           <div class="field_text" style="width:60%; margin-left: 5%">
                               <input type="text" name="totalAmount" placeholder="总金额" class="gradient"/>
                               <span class="input_icon input_pass"></span>
                           </div>

                           <div class="field_text" style="width:60%; margin-left: 5%">
                               <input type="text" name="payAmount" placeholder="实付金额" class="gradient"/>
                               <span class="input_icon input_pass"></span>
                           </div>
                           <div class="field_select" style="width:60%; margin-bottom: 28px; margin-left: 5%">
                               <select class="gradient" name="paymentType" hidefocus="true" style=" background-color: initial;width: 100%;margin-top: 2%;border: groove;font-family: -webkit-pictograph;font-size: x-small;height: 32px;">
                                   <option value="">支付方式编码</option>
                                   <option value="WECHAT">WECHAT</option>
                                   <option value="ALIPAY">ALIPAY</option>
                                   <option value="BANK">BANK</option>

                               </select>
                           </div>

                           <div class="rowSubmit" style="width:60%; margin-left: 5%">
                               <span class="btn btn-hover">
                                   <input type="submit" value="Save" class="gradient"/>
                               </span>
                               <span class="btn btn-hover">
                                   <input type="reset" value="Cancel" class="gradient"/>
                               </span>
                           </div>
                       </form>
                   </div>
               </div>
           </div>
        </div>
    </body>

    </html>