<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>关于</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <!--<link href="../static/css/guru.css"-->
          <!--th:href="@{css/guru.css}" rel="stylesheet" media="screen"/>-->
</head>
<body layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <h3>..........About.......</h3>
            <img src="../../static/images/deduct.png" width="1000"
                 th:src="@{images/deduct.png}"/>

            <a href="food/add" class="btn btn-hover active"><span>新增食物</span></a>
            <h2> About</h2>

        </div>
    </div>
</body>
</html>