<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>错误页面</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<!--<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">-->
<!--<h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>-->
<!--<p th:utext="${errorMessage}">Error java.lang.NullPointerException</p>-->
<!--<a href="index.html" th:href="@{/index.html}">Back to Home Page</a>-->
<!--</body>-->
<body>
<p th:if="${loginError}" class="error">Wrong user or password</p>
</body>
</html>