<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>首页</title>
</head>
<body layout:fragment="content">
    <div class="container">
        <div class="jumbotron">
            <img src="../../static/images/deduct.png" width="1000"
                 th:src="@{images/normal.png}"/>
            <h1>漏单处理</h1>
            <!--<a href="#" class="btn btn-hover active"><span>新增用户</span></a>-->
            <!--<a href="food/add" class="btn btn-hover active"><span>新增食物</span></a>-->
            <!--<h2> <a href="foods">hello </a>，   Fellow !!!</h2>-->

        </div>
    </div>
</body>


</html>